.album
  position: relative
  z-index: 1

  &:after
    +diagonal-stripes
    background-size: 10px 10px
    background-repeat: repeat-x
    content: ''
    display: block
    position: absolute
    left: 0px
    top: -10px
    height: 10px
    width: 100%

  &:first-child
    &:after
      display: none

  .album-art
    position: fixed

  > .inner
    +outer-container
    position: relative
    z-index: 10
    padding: 40px 0

  .album-title
    padding: 0 0 20px 0
    .title
      +shrink-title
      color: #fff
      text-align: center

  .track-list
    +outer-container
    .track
      +span-columns(6)
      +omega(2n)
      +transform(translate(0px, 40px))
      +transition(all 500ms ease)
      opacity: 0.0
      margin-bottom: 20px
      &.in-view
        +transform(translate(0px, 0px))
        opacity: 1.0
        
