.track
  min-height: 200px
  position: relative
  background: rgba(255,255,255,0.25)
  border-radius: 3px

  > .inner
    padding: 10px

  .track-title
    text-align: center
    display: inline-block
    color: $dark-grey-color
    text-transform: uppercase
    h1
      font-size: 24px

  .actions
