[ld-wicked-button], .wicked-button
  display: block
  position: relative

  canvas
    position: absolute
    top: -25px
    left: -25px
    z-index: 1
    pointer-events: none
  
  svg

  button
    position: relative
    margin: 0
    padding: 0
    z-index: 2
    background: transparent
    box-shadow: none
    width: 50px
    height: 50px

    *[class*='icon']
      width: 30px
      height: 30px
      background-size: 30px 30px
