<div class="home content">
  <div ld-twitter-feed tweets="tweets"></div>
  <div class="inner">
    <div class="intro" data-ld-section name="intro">
      <div class="intro-inner">
        <div class="title">
          <h1 class="title-text ff-thirsty black">lake street dive</h1>
        </div>

        <div data-ld-scroll-lock>
          <div ld-nav></div>
        </div>
      </div>
    </div>

    <div class="home-section discography" ld-scroll-section name="discography">
      <div ng-repeat="album in albums" ld-album album="album" index="$index"></div>
    </div>

    <div class="home-section calendar" ld-scroll-section name="calendar">
      <h1 class="ff-glober black">calendar</h1>
      <div ld-calendar events="events"></div>
    </div>
  </div>
</div>
