$dark-grey-color: #414141
$midnight-blue: rgb(22,34,82)
$light-grey-color: lighten($dark-grey-color, 60%)
$page-color: $light-grey-color

$font-color-default: adjust-hue(saturate($light-grey-color, 50), 190)
