.icon
  width: 25px
  height: 25px
  display: inline-block
  background-position: center center
  background-size: 25px 25px

.icon-music
  @extend .icon
  background-image: url("/svg/music.svg")
  &.white
    background-image: url("/svg/music-white.svg")

.icon-calendar
  @extend .icon
  background-image: url("/svg/calendar.svg")
  &.white
    background-image: url("/svg/calendar-white.svg")

.icon-team
  @extend .icon
  background-image: url("/svg/team.svg")
  &.white
    background-image: url("/svg/team-white.svg")

.icon-play
  @extend .icon
  background-image: url("/svg/play.svg")

.icon-stop
  @extend .icon
  background-image: url("/svg/stop.svg")

.icon-twitter
  @extend .icon
  background-image: url("/svg/twitter.svg")

.icon-octocat
  @extend .icon
  background-image: url("/svg/octocat.svg")

.icon-bandcamp
  @extend .icon
  background-image: url("/svg/bandcamp.svg")

.icon-home
  @extend .icon
  background-image: url("/svg/home.svg")
