@import "../base"

h1, p, em, h2, h3, h4, h5,
body
  font-family: $font-regular
  font-weight: normal
  font-style: normal
  color: $font-color-default

h1
  font-size: $font-size-large

.ff-fat 
  font-family: $font-black

.ff-jos
  font-family: $font-jos

.tt
  font-family: $font-jos
  font-weight: 400
  em 
    font-family: $font-jos
    font-style: normal
    font-weight: 600
