<div class="twitter-feed" ng-click="expand()" ng-class="{expanded: expanded}">
  <div class="scroll">
    <div class="inner-feed">
      <div class="top">
        <button><i class="icon-twitter"></i></button>
      </div>
      <div class="bottom">
        <ul class="feed">
          <li ng-repeat="twit in tweets">
            <div class="small">
              <i class="circle"></i>
            </div>
            <div class="large">
              <div class="date">
                <p class="ff-glober"><%= twit.created_at | twitterDate %></p>
              </div>
            </div>
            <div class="text">
              <p class="ff-glober" ng-bind-html="twit | twitterText"></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
