<div class="twitter-feed">
  <div class="scroll">
    <div class="inner-feed">
      <div class="top">
        <button><i class="icon-twitter"></i></button>
      </div>
      <div class="bottom">
        <ul class="feed">
          <li ng-repeat="twit in tweets">
            <div class="small">
              <i class="circle"></i>
            </div>
            <div class="large">
              <p><%= twit.source %></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
