<footer class="main" ng-class="{open: is_open}" ng-click="toggle()">
  <span class="opener"></span>
  <div class="inner">
    <div class="center">
      <div class="buttons">
        <div class="link">
          <a target="_blank" href="https://github.com/dadleyy/lakestreet"></a>
          <object type="image/svg+xml" data="/svg/octocat.svg?color=#fafafa" width="30" height="30"></object>
        </div>
        <div class="link">
          <a target="_blank" href="http://shop.signaturesounds.com/album/lake-street-dive"></a>
          <object type="image/svg+xml" data="/svg/bandcamp.svg?color=#fafafa" width="30" height="30"></object>
        </div>
        <div class="link">
          <a target="_blank" href="http://lakestreetdive.com"></a>
          <object type="image/svg+xml" data="/svg/home.svg?color=#fafafa" width="30" height="30"></object>
        </div>
      </div>
    </div>
  </div>
</footer>
