<footer class="main" ng-class="{open: is_open}" ng-click="toggle($event)">
  <span class="opener"></span>
  <div class="inner">
    <div class="center">
      <div class="buttons">
        <div class="link">
          <div data-ld-wicked-button data-click="link('twitter')" data-icon="octocat" color="#fdfdfd"></div>
        </div>
        <div class="link">
          <div data-ld-wicked-button data-click="link('twitter')" data-icon="bandcamp" color="#fdfdfd"></div>
        </div>
        <div class="link">
          <div data-ld-wicked-button data-click="link('twitter')" data-icon="home" color="#fdfdfd"></div>
        </div>
      </div>
    </div>
  </div>
</footer>
