<nav class="main">
  <div class="center">
    <i class="ribbon"></i>
    <div data-ld-wicked-button data-click="navigate('discography')" data-icon="discography">
      <span data-ld-tooltip text="discography" align="bottom"></span>
    </div>
    <div data-ld-wicked-button data-click="navigate('calendar')" data-icon="calendar">
      <span data-ld-tooltip text="calendar" align="bottom"></span>
    </div>
    <div data-ld-wicked-button data-icon="bio">
      <span data-ld-tooltip text="bio" align="bottom"></span>
    </div>
    <i class="ribbon"></i>
  </div>
</nav>

