<nav class="main">
  <div class="center">
    <i class="ribbon"></i>
    <div data-ld-wicked-button data-click="navigate('discography')" data-text="discography">
      <i class="icon icon-music"></i>
      <i class="icon icon-music white"></i>
    </div>
    <div data-ld-wicked-button data-click="navigate('calendar')" data-text="calendar">
      <i class="icon icon-calendar"></i>
      <i class="icon icon-calendar white"></i>
    </div>
    <div data-ld-wicked-button data-text="bio">
      <i class="icon icon-team"></i>
      <i class="icon icon-team white"></i>
    </div>
    <i class="ribbon"></i>
  </div>
</nav>

