<div class="twitter-feed" ng-click="expand($event)" ng-class="{expanded: expanded}">
  <div class="scroll">
    <div class="inner-feed">
      <div class="top">
        <div class="left">
          <div data-ld-wicked-button data-icon="twitter" data-silent="true"></div>
        </div>
        <div class="right">
          <a class="ff-glober black" href="http://twitter.com/lakestreetdive" target="_blank">lakestreetdive</a>
        </div>
      </div>
      <div class="bottom">
        <ul class="feed">
          <li ng-repeat="twit in tweets" class="tweet">
            <div ld-twitter-feed-item tweet="twit"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
