doctype html
html(ng-app='lakestreet')
head
  meta(charset='utf-8')
  title lakestreet dive interactive
  link(href='/fonts/index.css', type='text/css', rel='stylesheet')
  link(href='/css/app.css', type='text/css', rel='stylesheet')
body.preload(data-ld-scroll-nav)
  div(ld-load-splash)
  .page
    div(ng-view)
  div(ld-footer)
  if min
    script(src='/js/app.min.js', type='text/javascript')
  else
    script(src='/js/app.js', type='text/javascript')
