<div class="home content">
  <div class="intro"  ld-scroll-lock>
    <div class="inner" >
      <div class="title">
        <h1 class="title-text ff-thirsty black">lake street dive</h1>
      </div>
      <nav class="main">
        <div class="center">
          <div ld-wicked-button text="discography"><i class="icon-music"></i></div>
          <div ld-wicked-button text="calendar"><i class="icon-calendar"></i></div>
          <div ld-wicked-button text="bio"><i class="icon-team"></i></div>
        </div>
      </nav>
    </div>
  </div>
  <div class="discography">
    <div ng-repeat="album in albums" ld-album album="album"></div>
  </div>
</div>
