<div class="home content">
  <div ld-twitter-feed tweets="tweets"></div>
  <div class="inner">
    <div class="intro" data-ld-section name="intro">
      <div class="intro-inner">
        <div class="title">
          <h1 class="title-text ff-thirsty black">lake street dive</h1>
        </div>

        <div data-ld-scroll-lock data-broadcast-name="homescroll">
          <nav class="main">
            <div class="center">
              <i class="ribbon"></i>
              <div data-ld-wicked-button data-click="navigate('discography')" data-text="discography">
                <i class="icon icon-music"></i>
                <i class="icon icon-music white"></i>
              </div>
              <div data-ld-wicked-button data-click="navigate('calendar')" data-text="calendar">
                <i class="icon icon-calendar"></i>
                <i class="icon icon-calendar white"></i>
              </div>
              <div data-ld-wicked-button data-text="bio">
                <i class="icon icon-team"></i>
                <i class="icon icon-team white"></i>
              </div>
              <i class="ribbon"></i>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="home-section discography" ld-scroll-section name="discography">
      <h1 class="ff-glober black">discography</h1>
      <div ng-repeat="album in albums" ld-album album="album"></div>
    </div>

    <div class="home-section calendar" ld-scroll-section name="calendar">
      <h1 class="ff-glober black">calendar</h1>
    </div>

  </div>
</div>
