.content.home
  @import "partial/nav"
  @import "partial/twitter-feed"

  height: 100%
  width: 100%
  background: white

  > .inner
    height: 100%

  .home-section
    min-height: 100%
    position: relative
    z-index: 10
    background: white
  
  .intro
    height: 100%
    background: white
    position: relative
    min-height: 300px
    z-index: 20

    .intro-inner
      position: absolute
      top: 50%
      width: 100%
      left: 0px

    .title
      text-align: center
      .title-text
        color: $dark-grey-color
        text-transform: capitalize
